body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

p {
  line-height: 1.5;
}
/*nav bar*/
#sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    background-color: #522752;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
        background-color: #522752;
    }
}

.far {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.main-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #734773;
   color: rgba(255, 255, 255, .9);
}
.top-content {
    width: 50%;
    text-align: center;
    line-height: 1.5;
    margin: 0 5%;
    /*background-color: white;*/
}

/*main article*/

.section {
  display: flex;
  align-items: center;
  background-color: rgba(45, 45, 45, .1);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .6);
  margin: 5% 10%;
  padding: 5%;
  margin-right: 15%;
}
.section-image-1 {
  width: 35%;
  height: 100%;
  order: 2;
}

.section-image-2 {
  width: 35%;
  height: 100%;
  order: 2;
}
.section-image-3 {
  width: 24%;
  height: 75%;
  order: 2;
}

.bottom-container {
  background-color: #00252E;
  color: white;
  padding: 10px 10px 20px 30px;
}
@media(min-width:568px) {
  .bottom-main-content {
    display: flex;
    align-items: center;
  }


  .bottom-logo-img {
    width: 15%;
    height: 15%;
  }

  .bottom-sub-container-1 {
    width: 40%;
    margin: 1% 1%;
    flex: 1.7;
  }

  .bottom-sub-container {
    width: 40%;
    margin: 1% 1%;
    flex: 1;
  }

  .copyright {
    text-align: right;
    font-size: 0.7rem;
  }

  .bottom-img {
    width: 15%;
    background-color: white;
    border-radius: 100%;
    margin: 0 3%;
  }

  .footer-all-rows-col {
    width: 100%;
  }

  .footer-content {
    padding: 0 5%;
  }

}

